html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px; /* Définissez une largeur maximale pour le conteneur */
    margin: 0 auto; /* Centrez le conteneur horizontalement */
    padding: 0 15px; /* Ajoutez un peu de padding pour éviter que le contenu touche les bords */
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
}
.top-bar-left .logo {
    font-size: 1.5em;
    color: #333;
}
.top-bar-right {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 0.75em;
}
.top-bar-right ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.top-bar-right li {
    flex-grow: 1; /* Permet aux éléments de croître pour occuper l'espace disponible */
    text-align: center; /* Centre le texte dans chaque élément */
    white-space: nowrap; /* Empêche le retour à la ligne */
}

.top-bar-right ul li a {
    color: #333;
    text-decoration: none;
}
.top-bar-right ul li a:hover {
    text-decoration: underline;
}


.top-bar-left img:first-of-type {
    width: 35%; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Maintient le ratio d'aspect de l'image */
}


.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
.submit-button:hover {
    background-color: #0056b3;
}

/*classe flexbox permettant de placer à droite le "submit" boutton*/
.button-container {
    display: flex;
    justify-content: flex-end;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #0056b3;
    padding: 10px 20px;
}

.top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh; /* Assurez-vous que le conteneur prend toute la hauteur de la page */
    width: 100%; /* Prend toute la largeur de la page */
}

.top-menu menu {
    list-style: none; /* Supprime les puces */
    display: flex; /* Aligne les éléments horizontalement */
    padding: 0;
    margin: 0;
    width: 70%; /* Prend toute la largeur disponible */
    justify-content: space-between; /* Espace les éléments */
}

.top-menu menu li {
    flex-grow: 1; /* Permet aux éléments de croître pour occuper l'espace disponible */
    text-align: center; /* Centre le texte dans chaque élément */
}

.top-menu menu li a {
    color: white; /* Texte en couleur blanche */
    text-decoration: none;
    white-space: nowrap; /* Empêche le retour à la ligne */
}


.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-bar {
    display: flex;
    justify-content: flex-start; /* Aligne la barre de recherche à gauche */
}

.search-bar input {
    width: 90%; /* Rendre la barre de recherche plus large */
    height: 50%; /* Rendre la barre de recherche plus haute */
    padding: 15% 5%; /* Ajuste le padding pour plus de confort */
    border-left: 10%;
    margin-left: 0; /* Déplace la barre de recherche vers la gauche */
    margin-right: 0; /* Supprime la marge à droite */
    box-sizing: border-box; /* Assure que le padding est inclus dans la largeur et la hauteur */
}

/* Début : Les deux lignes  avant les articles*/
.sub-header {
    width: 100%;
    border-bottom: 1px solid lightgray; /* Trait en gris léger */
}

.top-line {
    text-align: left;
    padding: 10px 0;
    background-color: #f8f8f8;

}

/*  */
.top-line {
    display: flex;
    align-items: center;
}

.top-line span {
    display: flex;
    align-items: center;
}

.top-line span:first-child {
    margin-right: 0.9%; /* Ajuste cette valeur pour l'espace souhaité */
}

.top-line span:nth-child(2){
    margin-right: 0.9%; /* Ajuste cette valeur pour l'espace souhaité */
}

.top-line span:-child {
    margin-right: 0.9%; /* Ajuste cette valeur pour l'espace souhaité */
}

.top-line p {
    margin: 0;
}
/*  */

.top-line p {
    margin: 0;
    font-weight: bold;
}

.custom-h1 {
    font-size: 2em; /* Taille de police similaire à un H1 */
    font-weight: bold; /* Gras comme un H1 */
    margin: 0.67em 0; /* Marges par défaut d'un H1 */
    line-height: 1.2; /* Hauteur de ligne */
}


.bottom-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
}

.left-content {
    flex: 1;
}

.headline {
    color: gray;
    text-transform: uppercase;
    margin: 0;
}

.links {
    margin: 5px 0 0 0;
}

.links a {
    color: black; /* Liens non bleus */
    text-decoration: none;
    margin-right: 10px;
}

.links a:hover {
    text-decoration: underline; /* Trait sous le lien au survol */
}

.right-content {
    text-align: right;
}

.social-icons a {
    margin-left: 10px;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

.social-icons a:hover img {
    filter: brightness(0.8); /* Transformation de l'icône au survol */
}

/* Fin : Les deux lignes avant les articles*/

main {
    display: flex;
    padding: 20px;
}
.articles {
    flex: 3;
}
.sidebar {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    margin-left: 20px;
}
article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

/* Début Articles principaux */

.article-container {
    overflow: hidden; /* Pour contenir les flottants */
}

.article-image {
    float: left;
    margin: 0 20px 20px 0; /* Espace autour de l'image */
    width: 150px; /* Largeur de l'image */
    height: auto; /* Hauteur automatique pour conserver les proportions */
}

.article-content {
    overflow: hidden; /* Pour contenir les flottants */
}

.article-content h2 {
    margin-top: 0;
}

.article-content .source {
    clear: both; /* Pour s'assurer que la section "Source" soit sous l'image */
    margin-top: 20px; /* Espace au-dessus de la section "Source" */
}

/* Fin Articles principaux */

/* Début articles "side bar - Situés à coté, à droite*/
article img {
    max-width: 100%;
    height: auto;
}
.sidebar article {
    margin-bottom: 20px;
}
.sidebar article img {
    max-width: 100%;
    height: auto;
}
.sidebar article p {
    margin: 5px 0;
}
.sidebar article h3 {
    margin: 10px 0;
}
.sidebar article h3 a {
    color: #007bff;
    text-decoration: none;
}
.sidebar article h3 a:hover {
    text-decoration: underline;
}

/* Fin articles "side bar" - situés à coté*/

/* Début Footer */
.footer {
    background-color: #6a6262; /* Couleur de fond sombre */
    color: #fff; /* Couleur du texte claire */
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centre les éléments horizontalement */
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 0 2%; /* Réduit l'espace entre les colonnes et l'exprime en pourcentage */
}

.footer-section h3 {
    margin-top: 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.social-media a {
    margin-right: 10px;
}

.social-media img {
    width: 24px;
    height: 24px;
}

hr {
    border: 0;
    border-top: 1px solid #444; /* Couleur de la ligne horizontale */
    width: 100%;
    margin: 20px 0;
}

.footer-copyright {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    width: 100%; /* Assure que le texte de copyright occupe toute la largeur */
}

.footer-copyright a {
    color: #ffffff;
    text-decoration: underline;
}

/* Fin Footer */