body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
}
.top-bar-left .logo {
    font-size: 1.5em;
    color: #333;
}
.top-bar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}
.top-bar-right ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}
.top-bar-right ul li a {
    color: #333;
    text-decoration: none;
}
.top-bar-right ul li a:hover {
    text-decoration: underline;
}


.top-bar-left img:first-of-type {
    width: 15%; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Maintient le ratio d'aspect de l'image */
}


.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}
.submit-button:hover {
    background-color: #0056b3;
}

/*classe flexbox permettant de placer à droite le "submit" boutton*/
.button-container {
    display: flex;
    justify-content: flex-end;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh; /* Assurez-vous que le conteneur prend toute la hauteur de la page */
    width: 100%; /* Prend toute la largeur de la page */
}

.top-menu menu {
    list-style: none; /* Supprime les puces */
    display: flex; /* Aligne les éléments horizontalement */
    padding: 0;
    margin: 0;
    width: 70%; /* Prend toute la largeur disponible */
    justify-content: space-between; /* Espace les éléments */
}

.top-menu menu li {
    flex-grow: 1; /* Permet aux éléments de croître pour occuper l'espace disponible */
    text-align: center; /* Centre le texte dans chaque élément */
}

.top-menu menu li a {
    color: white; /* Texte en couleur blanche */
    text-decoration: none;
    white-space: nowrap; /* Empêche le retour à la ligne */
}




.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}
.search-bar input {
    padding: 5px;
}
main {
    display: flex;
    padding: 20px;
}
.articles {
    flex: 3;
}
.sidebar {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    margin-left: 20px;
}
article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
article img {
    max-width: 100%;
    height: auto;
}
.sidebar article {
    margin-bottom: 20px;
}
.sidebar article img {
    max-width: 100%;
    height: auto;
}
.sidebar article p {
    margin: 5px 0;
}
.sidebar article h3 {
    margin: 10px 0;
}
.sidebar article h3 a {
    color: #007bff;
    text-decoration: none;
}
.sidebar article h3 a:hover {
    text-decoration: underline;
}
